div.about-text {
  width: 550px;
  position: absolute;
  top: 90px;
  left: 600px;
}

img.band-photo {
  width: 400px;
  position: absolute;
  top: 110px;
  left: 150px;
}

/* div.photo {
  height: 508px;
  width: 381px;
} */
