div.about-text {
  width: 550px;
  position: absolute;
  top: 90px;
  left: 600px;
}

img.band-photo {
  width: 400px;
  position: absolute;
  top: 110px;
  left: 150px;
}

ul.band-members{
  list-style-type: circle;
  list-style-position: inside;
  line-spacing: 10px;
}

ul.band-members li {
  margin: 10px 0;
}
