#myVideo {
  /* position: relative;
  right: 20;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; */
  position: relative;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: 100%;
  z-index: auto;
}

body{
  background-image: url(../images/lany-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
}
