body{
  background-image: url(../images/tour-photo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
}

ul {
  width: 100%;
  color: white;
}

.nav a {
  float: right;
}

th, td {
  padding: 2px;
  text-align: left;
}

table, h1, p {
  color: white;
  font-size: 16px
}

table{
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size:24px;
}

div.tour {
  position: fixed;
  top: 200px;
  right: 0px;
  width: 700px;
}

div.ticket-icon {
  height: 20px;
}

a {
  color: white;
}

.transbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000000;
  background: rgba(0,0,0,.3);
  }

.text-logo {
  max-height: 40px;
  float: left;
  padding: 5px 0;
}

.text-logo h1{
  font-size: 30px;
  letter-spacing: 5px;
  margin: 0px;
}
